[Desktop Entry]
Exec=net.lutris.Lutris lutris:rungame/battlenet
Icon={{ .chezmoi.homeDir }}/.local/share/dot-file-assets/images/battlenet.png
Name=Battle.net
Terminal=false
Type=Application
Version=1.5
Name[en]=Battle.net
Name[en_US]=Battle.net
Name[en_US.UTF-8]=Battle.net
Hidden=false
NoDisplay=false
StartupNotify=false
Keywords=Gaming;WoW
Keywords[en]=Gaming;WoW
Keywords[en_US]=Gaming;WoW
Keywords[en_US.UTF-8]=Gaming;WoW

