[Desktop Entry]
Type=Application
Name=GPU Screen Recorder
GenericName=Screen recorder
Comment=A ShadowPlay-like screen recorder for Linux
Icon=gpu-screen-recorder
Exec=flatpak run com.dec05eba.gpu_screen_recorder gsr-ui
Terminal=false
Hidden=false
