function setup_session_vars

    if set -q __FISH_SESSION_VARS_SOURCED
        return
    end

    set -gx __FISH_SESSION_VARS_SOURCED 1

    # verified
    set -gx NH_FLAKE '{{ .chezmoi.homeDir }}/.nix-cfg'

    # TODO After everything was ported, check these vars again
    set -gx LOCALE_ARCHIVE_2_27 '/nix/store/008h0z2m22alg2v8kcdcw4v0f7c39lmm-glibc-locales-2.40-66/lib/locale/locale-archive'
    set -gx NIX_XDG_DESKTOP_PORTAL_DIR '/home/tamel/.nix-profile/share/xdg-desktop-portal/portals'
    set -gx TMUX_TMPDIR (test -n "$XDG_RUNTIME_DIR" && echo "$XDG_RUNTIME_DIR" || echo '/run/user/'(id -u | string collect; or echo))
end
