* {
	background-image: none;
	box-shadow: none;
}

window {
  background: url("/etc/nix-store-links/user/tamel/images/jinx-neon.jpg");
  background-size: cover;
}

button {
	border-radius: 12px;
	border-color: #cba6f7;
	text-decoration-color: #cdd6f4;
	color: #cdd6f4;
	background-color: #181825;
	border-style: solid;
	border-width: 2px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
  margin: 10px;
  font-size: 30px;
}

button:focus, button:active, button:hover {
	/* 20% Overlay 2, 80% mantle */
	background-color: rgb(48, 50, 66);
	outline-style: none;
}

#lock {
    background-image: url("/home/tamel/.config/wlogout/icons/lock.svg");
}

#logout {
    background-image: url("/home/tamel/.config/wlogout/icons/logout.svg");
}

#suspend {
    background-image: url("/home/tamel/.config/wlogout/icons/suspend.svg");
}

#hibernate {
    background-image: url("/home/tamel/.config/wlogout/icons/hibernate.svg");
}

#shutdown {
    background-image: url("/home/tamel/.config/wlogout/icons/shutdown.svg");
}

#reboot {
    background-image: url("/home/tamel/.config/wlogout/icons/reboot.svg");
}
