[user]
email = "{{ .user.email }}"
name = "{{ .user.fullName }}"

[ui]
diff-formatter = ":git"  # required by `delta`
pager = [
  "delta",
  "--pager",
  "less -FRX",
]  # Keeps output from the terminal after closing the pager

# These options allow for `jj diff` and `jj show` to clear the output from the terminal after closing the pager.
[[--scope]]
--when.commands = ["diff", "show"]

