theme "catppuccin-mocha"
pane_frames false
show_startup_tips false
default_shell "fish"
default_layout "catppuccin"

plugins {
  vim-zellij-navigator location="file:~/.config/zellij/plugins/vim-zellij-navigator.wasm"
  zjstatus location="file:~/.config/zellij/plugins/zjstatus.wasm"
}

load_plugins {
  vim-zellij-navigator
}

keybinds clear-defaults=true {
  locked {
    bind "Ctrl a" { SwitchToMode "normal"; }
  }

  normal {
    bind "Ctrl a" {SwitchToMode "tmux"; }

    bind "Ctrl h" {
      MessagePlugin "vim-zellij-navigator" {
        name "move_focus";
        payload "left"
        move_mod "ctrl";
        use_arrow_keys "false";
      };
    }
    bind "Ctrl j" { MessagePlugin "vim-zellij-navigator" {
        name "move_focus";
        payload "down"
        move_mod "ctrl";
        use_arrow_keys "false";
      }; }
    bind "Ctrl k" { MessagePlugin "vim-zellij-navigator" {
        name "move_focus";
        payload "up"
        move_mod "ctrl";
        use_arrow_keys "false";
      }; }
    bind "Ctrl l" { MessagePlugin "vim-zellij-navigator" {
        name "move_focus";
        payload "right"
        move_mod "ctrl";
        use_arrow_keys "false";
      };
    }
  }

  tmux {
    bind "Ctrl a" { SwitchToMode "normal"; }
    bind "Ctrl l" { SwitchToMode "locked"; }
    bind "p" { SwitchToMode "pane"; }
    bind "o" { SwitchToMode "tab"; }
    bind "u" { SwitchToMode "session"; }
    // allow also with Ctrl to allow sloppy input
    bind "Ctrl p" { SwitchToMode "pane"; }
    bind "Ctrl o" { SwitchToMode "tab"; }
    bind "Ctrl u" { SwitchToMode "session"; }

    bind "h" { MoveFocus "Left"; }
    bind "j" { MoveFocus "Down"; }
    bind "k" { MoveFocus "Up"; }
    bind "l" { MoveFocus "Right"; }

    bind "1" { GoToTab 1; SwitchToMode "normal"; }
    bind "2" { GoToTab 2; SwitchToMode "normal"; }
    bind "3" { GoToTab 3; SwitchToMode "normal"; }
    bind "4" { GoToTab 4; SwitchToMode "normal"; }
    bind "5" { GoToTab 5; SwitchToMode "normal"; }
    bind "6" { GoToTab 6; SwitchToMode "normal"; }
    bind "7" { GoToTab 7; SwitchToMode "normal"; }
    bind "8" { GoToTab 8; SwitchToMode "normal"; }
    bind "9" { GoToTab 9; SwitchToMode "normal"; }
  }

  session {
    bind "w" {
      LaunchOrFocusPlugin "zellij:session-manager" { floating true; }; SwitchToMode "normal";
    }
    bind "d" { Detach; }
  }

  tab {
    bind "n" { NewTab; SwitchToMode "normal"; }
    bind "x" { CloseTab; }
    bind "r" { SwitchToMode "renametab"; }
    bind "l" { GoToNextTab; }
    bind "h" { GoToPreviousTab; }
    bind "b" { BreakPane; SwitchToMode "normal"; }
    bind "Shift h" { MoveTab "Left"; }
    bind "Shift l" { MoveTab "Right"; }
  }

  pane {
    bind "n" { NewPane; SwitchToMode "normal"; }
    bind "+" { NewPane; }
    bind "r" { SwitchToMode "renamepane"; }
    bind "i" { NextSwapLayout; }
    bind "u" { PreviousSwapLayout; }
    bind "c" { SwitchToMode "resize"; }
    bind "s" { SwitchToMode "scroll"; }
    bind "f" { ToggleFloatingPanes; SwitchToMode "normal"; }
    bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "normal"; }
    bind "Shift e" { TogglePaneEmbedOrFloating; ToggleFloatingPanes; }
    bind "m" { ToggleFocusFullscreen; SwitchToMode "normal"; }
    bind "x" { CloseFocus; }
    bind "/" { SwitchToMode "entersearch"; }

    bind "h" { MoveFocus "Left"; }
    bind "j" { MoveFocus "Down"; }
    bind "k" { MoveFocus "Up"; }
    bind "l" { MoveFocus "Right"; }

    bind "Shift h" { MovePane "Left"; }
    bind "Shift j" { MovePane "Down"; }
    bind "Shift k" { MovePane "Up"; }
    bind "Shift l" { MovePane "Right"; }
  }

  entersearch {
    bind "Enter" { SwitchToMode "search"; }
  }

  search {
    bind "n" { Search "down"; }
    bind "Shift n" { Search "up"; }
    bind "c" { SearchToggleOption "CaseSensitivity"; }
    bind "w" { SearchToggleOption "Wrap"; }
  }

  resize {
    bind "h" { Resize "Left"; }
    bind "j" { Resize "Down"; }
    bind "k" { Resize "Up"; }
    bind "l" { Resize "Right"; }
  }

  shared_among "scroll" "search" {
    bind "j" { ScrollDown; }
    bind "k" { ScrollUp; }
    bind "Shift g" { ScrollToBottom; }
    bind "g" { ScrollToTop; }
    bind "d" { HalfPageScrollDown; }
    bind "u" { HalfPageScrollUp; }
    bind "PageUp" { PageScrollUp; }
    bind "PageDown" { PageScrollDown; }
    bind "/" { SwitchToMode "entersearch"; }
  }

  shared_among "renamepane" "renametab" {
    bind "Enter" { SwitchToMode "normal"; }
  }

  shared_except "normal" "locked" "tmux" "renametab" "renamepane" "entersearch" {
    bind "q" { SwitchToMode "normal"; }
  }
}
